* {
	padding: 0;
	margin: 0;
}


/* Imaging System */

/* Common styles for images and overlays */

.image-container {
  display: flex;
  flex-wrap: wrap;
}

.image {
  width: 355px;
  height: 200px;
  margin: 10px;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
}

.overlay-image {
  width: 1155px;
  max-height: 90%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

/* Show the overlay when the corresponding image is clicked */

.image:hover, .overlay:target {
  opacity: 0.5;
}

.overlay:target {
  opacity: 1;
  visibility: visible;
}

.overlay:target .overlay-image {
  opacity: 1;
}



